td.details-control::after {
    /* background: url('./icon/check.svg') no-repeat center center; */
    cursor: pointer;
    padding: 10px;
    content: '\f13a';
    font-family : FontAwesome;
}
tr.shown td.details-control::after,
tr.action-button td.action-button { 
    content: '\f139';
    font-family : FontAwesome;
    cursor: pointer;
}

tr td.action-button::after{
    content: '\f0c9';
    font-family : FontAwesome;
    cursor: pointer;
}
td.action-clicked {
    z-index: 2;
    position: relative;
}
td.action-clicked ul.action-pannel{
    transition: .4s all;
    top: 0;
    z-index: -1;
    right: 0;
    position: absolute;
    float: right;
    background-color: #ddd;
    padding: 2rem 1rem;
}
ul.action-pannel li{
    list-style : none;
    padding: .5rem 0;
}

tr.marked{
    background: coral !important;
}
#output{
    width: 50px;
    border-radius: 100px;
}