.sidebar-users{
    width: 33%;
    float: left;
}
.user-container{
    margin: 25px 0;
    background-color: #efefef;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.user-container > span{
    margin-left: 10px;
}
.user-container .MuiAvatar-root{
    width: 80px;
    border-radius: 100px;
    margin-right: 20px;
}